:root {
  --primary: #107CF1;
  --accent: #DEC9B0;
  --accent-dark: #7c6951;
  --accent-light: #ebe1d5;
  --body-bg: #FAF0EB;
  --padding-left-huge: 5vmax;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  transition-duration: .2s;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.appBody {
  background-color: var(--body-bg) !important;
  flex: 1 1 auto;
  /* padding-left: 5vw; */
  padding-top: 5vh;
}

button:hover:not(.btn-close) {
  background: var(--accent-dark) !important;
  color: white;
}

.shadow-slim {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.padding-left-huge {
  padding-left: var(--padding-left-huge);
}