.circles-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 10vh;
}

.circles-list>* {
  padding: 1rem;
}

.circles-list>button {
  min-height: 6rem;
  min-width: 6rem;
  background: var(--accent);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 4rem;
  border: none;
}

.circles-container>h1 {
  padding-bottom: 0.5em;
  text-decoration: underline;
  font-size: 2rem;
}

.circles-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-left: 1rem;
  align-items: center;
  width: 100%;

  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.circles-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}