.content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-between;
  width: 25rem;
  height: 10rem;
  border-radius: 5rem;
  padding: 1em 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.content:hover {
  background-color: var(--accent-light);
}

.content>img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 0.5rem solid var(--accent);
}

.description {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: center;
  padding-right: 1rem;
}

.description>:first-child {
  font-size: 1.7rem;
}